@model IEnumerable<MojecStockERP.Models.Accessories>
@{
    ViewBag.Title = "Accessories";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Accessories</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Accessories</h6>
        </div>
        <div class="card-body">

            @*@using (Html.BeginForm("DownloadReport", "MOJECIE", FormMethod.Post))
                {
                    <div class="form-row mt-4">
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom01">Date</label>
                            <input type="date" class="form-control" id="validationCustom01" required="">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom01">Date</label>
                            <input type="date" class="form-control" id="validationCustom01" required="">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom01">Disco</label>
                            <input type="text" class="form-control" id="validationCustom01" required="">
                        </div>
                        <div class="col-md-3 mb-3">
                            <br />
                            <button type="submit" class="btn btn-outline-primary">Download</button>
                        </div>
                    </div>

                }*@

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-capitalize">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td class="btn-group">
                                @Html.ActionLink("Edit", "UpdateAccessories", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Activate", "ActivateAccessories", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Deactivate", "DeactivateAccessories", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
  $(function(){
     var save = '@TempData["save"]'
if(save!=null)
{
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })
    </script>

}

