
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Stored Meters
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Store</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-gear fa-2x text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Meters Dispatched
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalDispatched</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-gear fa-2x text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Meters Produced
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalMeter</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-gear fa-2x text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Installation
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Installation</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-screwdriver-wrench fa-2x text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Available Meters
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Available</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-screwdriver-wrench fa-2x text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <!-- Pending Requests Card Example -->

    </div>
    
    <center>
        <iframe title="Dashboard MSMS (one)"  width="1230" height="641.25" src="https://app.powerbi.com/reportEmbed?reportId=7bbfb3b8-55be-471e-8bf8-d8617f89cff2&autoAuth=true&ctid=9ee56573-5943-4094-8ffe-facc2b05aeea&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWFmcmljYS1ub3J0aC1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
    </center>

    <!-- Content Row -->
    <!-- Content Row -->


</div>

