@model IEnumerable<MojecStockERP.Models.MeterOrder>
@{
    ViewBag.Title = "ProcurementMeter";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Meter Procurement</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Meter Procurement</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-capitalize">
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.MeterType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Partners)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BillofLaden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.MeterType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Partners)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillofLaden)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "UpdateProcuremeter", new { id = item.MeterID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "DeleteProcurement", new { id = item.MeterID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
  $(function(){
     var save = '@TempData["save"]'
if(save!=null)
{
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })
    </script>

}