@model MojecStockERP.Models.MetersProduced

@{
    ViewBag.Title = "UpdateMeterProduced";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Meters Produced</h1>

    <div class="row">

        <div class="col-lg-12">

            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Meters Produced</h6>
                </div>
                <form class="needs-validation" novalidate="" action="UpdateMeterProduced" method="post">
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Meter No</label>
                                @Html.EditorFor(model => model.MeterNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Meter Type</label>
                                @Html.EditorFor(model => model.MeterType, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Model</label>
                                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Software Version</label>
                                @Html.EditorFor(model => model.SoftwareVersion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Hardware Version</label>
                                @Html.EditorFor(model => model.HardwareVersion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Date Of Production</label>
                                @Html.EditorFor(model => model.DateOfSupply, new { htmlAttributes = new { @class = "form-control", @type="date", required = "required" } })
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Partners</label>
                                @Html.EditorFor(model => model.Partners, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">SGC</label>
                                @Html.EditorFor(model => model.SGC, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Tarrif Index</label>
                                @Html.EditorFor(model => model.TarrifIndex, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            @Html.HiddenFor(model => model.MeterID)


                        </div>

                        <button type="submit" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                            </span>
                            <span class="text">Update</span>
                        </button>

                    </div>
                </form>
            </div>




            <!-- Brand Buttons -->


        </div>



    </div>

</div>