@model IEnumerable<MojecStockERP.Models.KYC>
@{
    ViewBag.Title = "KYC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">KYC</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">KYC</h6>
        </div>
        <div class="card-body">
            @*@using (Html.BeginForm("DownloadReport", "MOJECIE", FormMethod.Post))
            {
                <div class="form-row mt-4">
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom01">Date</label>
                        <input type="date" class="form-control" id="validationCustom01" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom01">Date</label>
                        <input type="date" class="form-control" id="validationCustom01" required="">
                    </div>
                    <div class="col-md-3 mb-3">
                        <br />
                        <button type="submit" class="btn btn-outline-primary">Download</button>
                    </div>
                </div>

            }*@
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-capitalize">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DateShared)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ARN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disco)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalComment)
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.DateShared)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ARN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Disco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalComment)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

</div>

